name: CI

on:
  push:
    branches: ["master", "main"]
  pull_request:
    branches: ["master", "main"]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Run Ruff Lint
        run: uv run ruff check .

      - name: Run Ruff Format
        run: uv run ruff format --check .

      - name: Validate .me3 Profiles
        run: uv run scripts/validate_profiles.py
